.about_main {
  width: 100%;
  height: 100vh;
}

.about_main section {
  width: 90%;
  margin: 0 auto;
  height: 100%;

  padding-top: 50px;
}

.about_main section article {
  padding: 15px 8px;
  border-radius: 5px;
  height: 900px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: #ee6aff;
}

.about_main section article img{
  border-radius: 10px;

}

.about_main section article h2 {
  font-size: 25px;
  color: red;
  background-color: aliceblue;
}
