* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

header {
  color: white;
  position: fixed;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

header nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content:center;
  width:100%;
}

nav ul .li_nav {
  border-right: 0.2px solid rgba(255, 255, 255, 0);
  padding: 20px 40px;
}

nav ul li:nth-child(1) {
  padding-left: 0;
}

nav ul li a {
  font-size: 24px;
  color: rgb(213, 213, 213);
  padding: 20px;
}